<h2>Welcome !! These are Todos !!!</h2>
<form class="form-horizontal container">
    <div class="container">
      <label style="color: #2a6496; font-size: 20px;">Search : </label>  <input type="text" ng-model="query"  placeholder="Search"><br/><br /><br />
    </div>
    <a href="#/new" style="margin-right: 20px; margin-bottom: 20px" class="glyphicon glyphicon-plus pull-right" style="cursor: pointer" >Add</a>
</form>


<table class="table table-hover table-striped table-condensed">

    <thead>
    <th>Todo</th>
    <th>Priority</th>
    <th>Due</th>
    <th>Delete / Edit</th>
    </thead>

    <tbody>
        <tr ng-repeat="todo in todoes | filter : query">
            <td>{{todo.Text}}</td>
            <td>{{todo.Priority}}</td>
            <td>{{todo.DueDate | date : mediumDate}}</td>

            <td>
                <a class="glyphicon glyphicon-trash" ng-click="Delete()" style="cursor: pointer"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#/edit/{{todo.TodoItemId}}" class="glyphicon glyphicon-edit" style="cursor: pointer"></a>

            </td>
        </tr>
    </tbody>




</table>