<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=962d2af5-08ff-422d-9763-a32400fd4e32.sqlserver.sequelizer.com;Database=db962d2af508ff422d9763a32400fd4e32;User ID=ctdlagdzvpnofosy;Password=qazvXmLqsgGX474QbWq2bSxsm7B4o5hZjxLL4fB4i2i3Ptb2PYExsY5EJgjZSRbv;;	
" />
  </connectionStrings>
</configuration>