<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=7ee50d88-ce59-499a-a608-a32400ff302a.sqlserver.sequelizer.com;Database=db7ee50d88ce59499aa608a32400ff302a;User ID=yrqmihtziisdompw;Password=5HnxyRFtAgcV5KkyYV47NDFxdJd6gV5fCq4iCL6pjtdno7aQjsrVHMnzbXtXMHnM;
" />
  </connectionStrings>
</configuration>