<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=688b41ec-4565-4eba-bf66-a324010251d1.sqlserver.sequelizer.com;Database=db688b41ec45654ebabf66a324010251d1;User ID=nirqkwedudmdpzjt;Password=ZqdaHfHPF7CHkBBVtMvb5bfqWDF2oMPDRxmXhWayTbgByJ7uNQW7GvXYjVmdGQA2;" />
  </connectionStrings>
</configuration>